# Data Manipulation & Visualization
numpy
pandas
geopandas
matplotlib
seaborn
plotly
Pillow

# Web Scraping & Networking
requests
beautifulsoup4
lxml

# Interactive UI (Jupyter/IPython)
ipywidgets
nbformat>=4.2

# Machine Learning & Stats
scikit-learn
xgboost
torch
torchvision

# Others
openpyxl
umap-learn
statsmodels
